:root {
  --base-color: #fff;
  --primary-heading-color: #00308f;
  --primary-border-color: #00308f;
  --name-color: #fff;
  --tagline-color: #fff;
  --primary-text-color: #222629;
  --secondary-heading-color: #003399;
  --nav-text-color: #b9d9eb;
  --secondary-text-color: #474b4f;
  --link-color: #31708e;
  --link-hover-color: #8fc1e3;
  --border-color: #29648a;
  --primary-heading-font-size: 24px;
  --nav-bar-font-size: 18px;
  --secondary-heading-font-size: 24px;
}

/* Header & Navbar */
header {
  padding: 20px;
  font-family: "Open Sans", "Roboto Slab", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  background-color: var(--primary-heading-color);
  color: var(--primary-heading-color);
  display: flex;
}

.navBar ul {
  display: flex;
  list-style: none;
  font-size: var(--nav-bar-font-size);
}

.navBar a {
  text-decoration: none;
  color: var(--nav-text-color);
  transition: color 0.5s;
}

.navBar a:hover {
  color: var(--link-color);
}

.name {
  color: var(--base-color);
}

/* Jumbotron */
.myjumbo {
  min-width: 500px;
  max-width: 500px;
  font-size: 24px;
}

.myhero {
  background-color: var(--nav-text-color) !important;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.jumboButton {
  background-color: var(--primary-heading-color);
}

.tagline {
  text-align: center;
}

/* Heading Styles */

h1 {
  padding: 10px;
  color: var(--name-color);
  font-size: var(--primary-heading-font-size);
  font-weight: bold;
  display: inline-block;
}

h2 {
  padding: 10px;
  text-align: right;
  color: var(--tagline-color);
  font-weight: bold;
  font-size: var(--primary-heading-font-size);
  background-color: var(--secondary-heading-color);
  display: inline-block;
}

h3 {
  padding: 10px;
  margin: 25px;
  color: var(--primary-heading-color);
  font-weight: bold;
  font-size: var(--primary-heading-font-size);
  border-right: 3px solid var(--border-color);
  margin-right: 10px;
  display: inline-block;
}

h4 {
  padding: 10px;
  margin: 25px;
  color: var(--base-color);
  font-weight: bold;
  font-size: var(--primary-heading-font-size);
  border-right: 3px solid var(--base-color);
  margin-right: 10px;
  display: inline-block;
}

h5 {
  padding: 10px;
  margin: 25px;
  color: var(--base-color);
  font-weight: bold;
  font-size: 18px;
  display: inline;
  width: 20%;
  border-right: 3px solid var(--base-color);
  font-weight: bold;
  margin-right: 10px;
}

/* Section Formatting */

#about {
  padding-bottom: 50px;
}

#skills {
  padding-bottom: 100px;
}

#projects {
  padding-bottom: 100px;
}

#projects2 {
  padding-bottom: 100px;
}

#contact {
  padding-bottom: 50px;
}

/* Main Body Text Formatting */
body {
  background-color: var(--base-color);
  color: var(--primary-text-color);
  font-family: "Open Sans", "Roboto Slab", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  line-height: 1.5;
}

p {
  padding: 10px;
  padding-top: 10px;
  margin: 10px;
  word-spacing: 1.5px;
  text-align: justify;
}

/* Skills */
.logo {
  max-height: fit-content;
  max-width: fit-content;
}

.skillsCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Projects */

.projectTitle {
  color: var(--secondary-heading-color);
  font-size: var(--secondary-heading-font-size);
  padding: 25px;
}

.projectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-border-color);
}

/* Contact Me */
.contactItem {
  margin: 10px;
  font-size: 20px;
  word-spacing: 1.5px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
}

.contactItem a {
  text-decoration: none;
  color: var(--nav-text-color);
  transition: color 0.5s;
}

.contactItem a:hover {
  color: var(--link-color);
}

#contact {
  background-color: var(--primary-heading-color);
  color: var(--nav-text-color);
}

/* Footer Section */

.footer {
  background-color: var(--primary-heading-color);
  position: absolute;
  text-align: center;
  display: inline;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.footer a {
  color: var(--nav-text-color);
  text-decoration: none;
  margin: 0 10px;
}

.footer p {
  color: var(--nav-text-color);
}

.footer ul {
  display: flex;
  list-style: none;
  font-size: var(--nav-bar-font-size);
}

.footer a {
  text-decoration: none;
  color: var(--nav-text-color);
  transition: color 0.5s;
}

.footer a:hover {
  color: var(--link-color);
}

.resume {
  padding-top: 8px;
}

.copyright {
  color: #fff !important;
}
